.wrapper {
    margin: 0 auto;
    width: 100%;
    background-color: #eee;
}

#gameboard {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
}

#game-controls {
    display: flex;
    flex-direction: column;
    font-size: 3em;
    color: #eee;
    position: fixed;
    top: 35%;
    left: 48px;

    button:nth-child(2) {
        margin: 12px 0;
    }

    #hit-btn,
    #hold-btn,
    #reset-btn {
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2),
        -2px -2px 2px white;
        transition: 0.3s ease-in;
        padding: 0 32px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
        -4px -3px 6px white;
        text-align: center;
    }
}

.hand {
    width: 100%;
    height: 40vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.card {
    height: 100%;
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
    -4px -3px 6px white;
    border-radius: 20px;
    animation: light 0.3s ease-in;
    position: relative;
    margin-right: 20px;
    font-size: 3.5em;
    text-shadow: 2px 2px 2px rgba(22, 22, 22, 0.15),
    -2px -2px 2px white;
    color: #eee;
}
.card h1 {
    font-size: 3em;
    animation: lightText .4s ease-in;
}
.top-card-value,
.bottom-card-value {
    position: absolute;
    animation: lightText .4s ease-in;
}
.top-card-value {
    top: 0;
    left: 6px;
}
.bottom-card-value {
    bottom: 0;
    right: 6px;
}
.cardTotal {
    font-size: 3em;
    background-color: #666666;
    color: transparent;
    background-clip: text;
    text-shadow: rgba(245,245,245,0.4) 3px 5px 3px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}
@keyframes light {
    from {
        box-shadow: none;
        text-shadow: none;
    }
    to {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
        -5px -5px 12px white;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2),
        -2px -2px 6px white;
    }
}
@keyframes lightText {
    from {
        text-shadow: none;
    }
    to {
        text-shadow: 2px 2px 2px rgba(22, 22, 22, 0.15),
        -2px -2px 2px white;
    }
}

.start-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #eee;
    z-index: 9999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease-in;
    h1 {
        font-size: 13em;
        color: #eee;
        text-shadow: 2px 2px 2px rgba(22, 22, 22, 0.15),
        -2px -2px 2px white;
    }
    button {
        margin-top: .5em;
        font-size: 7em;
        border-radius: 10px;
        padding: 4px 32px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
        -5px -5px 12px white;
        text-shadow: 2px 2px 2px rgba(22, 22, 22, 0.15),
        -2px -2px 2px white;
        color: #eee;
    }
}

.slide-up {
    transform: translateY(-100%);
}